*,
*::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
	background: #333;
	width: 100%;
	height: 100vh;
}

.githubLogo {
	position: absolute;
	bottom: 2em;
	left: 2em;
	fill: white;
}

.container {
	display: grid;
	height: 100vh;
	place-content: center;
}

.calculator {
	display: grid;
	width: 270px;
	padding: 2em;
	background-color: hsl(0, 0%, 67%);
	border: 1px solid black;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px black;
	max-width: 350px;
}

.calc-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

h1 {
	grid-column: 1 / -1;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.last-calc {
	grid-column: 1 / -1;
	margin-bottom: 0.5em;
	padding-right: 0.5em;
	height: 1em;
	text-align: right;
	font-size: 0.8rem;
	color: hsl(0, 0%, 35%);
	overflow: hidden;
}

.display {
	width: 100%;
	background: white;
	color: black;
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: right;
	padding-right: 0.5em;
	border: 1px solid black;
	border-radius: 0.3em;
	overflow: hidden;
	transition: all 150ms ease-in-out;
}

.result-displayed {
	transform: scale(1.05);
}

.calc-header-reset {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
	gap: 1em;
}

.reset {
	background-color: hsl(16, 100%, 66%);
	border: 1px solid black;
	border-radius: 0.3em;
	padding: 0.5em;
	margin: 1em 0;
}

.reset:hover {
	background-color: hsl(16, 100%, 76%);
	cursor: pointer;
}

.delete {
	background-color: hsl(348, 83%, 47%);
	border: 1px solid black;
	border-radius: 0.3em;
	padding: 0.5em;
	margin: 1em 0;
}

.delete:hover {
	background-color: hsl(348, 83%, 57%);
	cursor: pointer;
}

.calc-pad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-start: 1;
	grid-column-end: -1;
	place-items: center;
	gap: 0.5em;
	text-align: center;
}

.button {
	background: hsl(180, 100%, 50%);
	border: 1px solid black;
	border-radius: 0.3em;
	padding: 0.5em;
	width: 100%;
}

.button:hover {
	background-color: hsl(180, 100%, 40%);
	cursor: pointer;
}

.divide {
	background-color: hsl(33, 60%, 50%);
}

.divide:hover {
	background-color: hsl(33, 60%, 60%);
}

.multiply {
	background-color: hsl(219, 79%, 66%);
}

.multiply:hover {
	background-color: hsl(219, 79%, 76%);
}

.subtract {
	background-color: hsl(0, 100%, 74%);
}

.subtract:hover {
	background-color: hsl(0, 100%, 84%);
}

.add {
	background-color: hsl(17, 100%, 74%);
}

.add:hover {
	background-color: hsl(17, 100%, 84%);
}

.animation {
	animation: forwards 50ms linear buttonPressed;
}

@keyframes buttonPressed {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
		box-shadow: 1px 1px 1px black;
	}
	to {
		transform: scale(1);
	}
}
